.search-form form input {
    margin: 0 auto;
}
.search-form {
    text-align: center;
}
.container {
    max-width: 1000px;
}

/*Author: XB Software */

/*link: http://enjoycss.com/ */

/*styles for input form */

.enjoy-input {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    padding: 10px 30px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(0, 142, 198, 1);
    text-indent: 3px;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: url("http://enjoycss.com/bg-img/custom/5770-1romh8s.png"), rgba(252, 252, 252, 1);
    background-repeat: no-repeat;
    background-position: 8px center;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.enjoy-input:hover {
    border: 1px solid #a3a3a3;
    background: url("http://enjoycss.com/bg-img/custom/5770-1romh8s.png"), rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
    background-position: 8px center;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}
.enjoy-input:focus {
    border: 1px solid #018dc4;
    background-repeat: no-repeat;
    background-position: 8px center;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    -webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}
/*Author: purecss.io */

/*link: http://purecss.io/layouts/side-menu/ */

/*styles for side-menu, header, content*/

#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#layout {
    position: relative;
    padding-left: 0;
}
#layout.active {
    position: relative;
    left: 150px;
}
#layout.active #menu {
    left: 150px;
    width: 150px;
}
#layout.active .menu-link {
    left: 150px;
}
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}
.header {
    margin: 1em;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}
.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}
#menu {
    margin-left: -150px;
    /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#menu a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}
#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: transparent;
}
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #333;
}
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: black;
}
#menu .pure-menu-selected a {
    color: #fff;
}
#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}
.menu-link {
    position: fixed;
    display: block;
    /* show this only on small screens */
    top: 0;
    left: 0;
    /* "#menu width" */
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}
.menu-link:hover,
.menu-link:focus {
    background: #000;
}
.menu-link span {
    position: relative;
    display: block;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}
.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}
.menu-link span:after {
    margin-top: 0.6em;
}
@media (min-width: 48em) {
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
    #layout {
        padding-left: 150px;
        /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }
    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }
    #layout.active .menu-link {
        left: 150px;
    }
}
/*Author: Russell Goldenberg*/

/*link: github.com/russellgoldenberg/responsive-table-generator */

/*styles for graphic info (hed, subhed, source, credit)*/

.rg-container {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    margin: 2em;
    padding: 1em 0;
    color: #1a1a1a;
}
.rg-header {
    margin-bottom: 1em;
}
.rg-hed {
    font-family: "Benton Sans Bold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.35em;
    margin-bottom: 0.25em;
}
.rg-subhed {
    font-size: 1em;
    line-height: 1.4em;
}
.rg-source-and-credit {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
    overflow: hidden;
    margin-top: 1em;
}
.rg-source {
    margin: 0;
    float: left;
    font-weight: bold;
    font-size: 0.75em;
    line-height: 1.5em;
}
.rg-source .pre-colon {
    text-transform: uppercase;
}
.rg-credit {
    margin: 0;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    float: right;
    text-align: right;
    font-size: 0.65em;
    line-height: 1.5em;
}
@media (max-width: 640px) {
    .rg-source-and-credit > div {
        width: 100%;
        display: block;
        float: none;
        text-align: right;
    }
}
/*styles for graphic*/

table.rg-table {
    margin: 0 0 1em 0;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    border-collapse: collapse;
    border-spacing: 0;
}
table.rg-table * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: left;
    color: #333;
}
table.rg-table thead {
    border-bottom: 1px solid rgba(195, 195, 197, .3);
}
table.rg-table th {
    font-weight: bold;
    padding: 0.5em;
    font-size: 0.85em;
}
table.rg-table td {
    padding: 0.5em;
    font-size: 0.9em;
}
table.rg-table .highlight td {
    font-weight: bold;
}
table.rg-table tr {
    border-bottom: 1px solid rgba(195, 195, 197, .3);
    color: #222;
}
table.rg-table .number {
    text-align: right;
}
table.rg-table.zebra tr:nth-child(even) {
    background: rgba(195, 195, 197, 0.1);
}
table.rg-table tr.highlight {
    background: #edece4 !important;
}
@media screen and (max-width: 500px) {
    table.rg-table {
        display: block;
        width: 100%;
    }
    table.rg-table .number {
        text-align: left;
    }
    table.rg-table tr.hide-mobile,
    table.rg-table th.hide-mobile,
    table.rg-table td.hide-mobile {
        display: none;
    }
    table.rg-table thead {
        display: none;
    }
    table.rg-table tbody {
        display: block;
        width: 100%;
    }
    table.rg-table td:first-child {
        padding-left: 0;
    }
    table.rg-table td:last-child {
        padding-right: 0;
    }
    table.rg-table tr,
    table.rg-table th,
    table.rg-table td {
        display: block;
        padding: 0;
    }
    table.rg-table th[data-title]:before,
    table.rg-table td[data-title]:before {
        content: attr(data-title)":\00A0";
        font-weight: bold;
    }
    table.rg-table tr {
        border-bottom: 1px solid rgba(195, 195, 197, .3);
        margin: 0;
        padding: 0.5em 0;
    }
    table.rg-table tr:nth-child(even) {
        background: none;
    }
    table.rg-table td {
        padding: 0.25em 0 0 0;
    }
    table.rg-table td:empty {
        display: none;
    }
    table.rg-table td:first-child {
        font-size: 1.5em;
        font-weight: bold;
    }
    table.rg-table td:first-child:before {
        content: "";
    }
}