<!DOCTYPE html>
<html>

<head>
    <title>500 - DUBLIN BUS APP</title>
    <meta charset="UTF-8">
    <meta name="author" content="Lin Qi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}" />

</head>

<body>
    <h1>An unexpected error has occurred</h1>
    <p><a style="color:red;" href="mailto:kirin1989@gmail.com?subject=500%20error&body=Fix%20your%20app!">Notify the administrator!</a> Sorry for the inconvenience!</p>
    <p><a href="{{ url_for('index.html') }}">Back</a></p>
</body>

</html>