<!DOCTYPE html>
<html>

<head>
    <title>DUBLIN BUS APP - Search on Map</title>
    <meta charset="UTF-8">
    <meta name="description" content="Real time dublin bus information">
    <meta name="keywords" content="Dublin bus, RTPI">
    <meta name="author" content="Lin Qi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}" />

    <!-- CSS styles -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nprogress.css') }}" />

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='js/nprogress.js') }}"></script>

    <!-- Google Map stuff -->
    <script>
        function initialize() {
                var mapOptions = {
                    zoom: 17
                };

                var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

                // Try HTML5 geolocation
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = new google.maps.LatLng(position.coords.latitude,
                            position.coords.longitude);

                        var infowindow = new google.maps.InfoWindow({
                            map: map,
                            position: pos,
                            content: 'Your current location'
                        });

                        map.setCenter(pos);
                    }, function () {
                        handleNoGeolocation(true);
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleNoGeolocation(false);
                }

                google.maps.event.addDomListener(window, "resize", function () {
                    var center = map.getCenter();
                    google.maps.event.trigger(map, "resize");
                    map.setCenter(center);
                });

            } // end of initialize()
        
        function handleNoGeolocation(errorFlag) {
            if (errorFlag) {
                var content = 'Error: The Geolocation service failed.';
            } else {
                var content = 'Error: Your browser doesn\'t support geolocation.';
            }

            var options = {
                map: map,
                position: new google.maps.LatLng(53.349799, -6.260312),
                content: content
            };

            var infowindow = new google.maps.InfoWindow(options);
            map.setCenter(options.position);
        }

        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' + '&signed_in=true&callback=initialize';
            document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>
</head>

<body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading"><img src="{{ url_for('static', filename='images/dublin_bus_black_and_white.png') }}" alt="dublin bus logo" width="120">
                </a>
                <ul>
                    <li><a href="{{ url_for('index') }}">Search by stop no.</a>
                    </li>
                    <li><a href="{{ url_for('routelist') }}">Search by route</a>
                    </li>
                    <li class="pure-menu-selected"><a href="">Search on map</a>
                    </li>
                    <li><a href="{{ url_for('faqs') }}">FAQs</a>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="header">
                <h1>Search by Map</h1>
                <h2>total requests so far: {{ totalrequests }}</h2>
            </div>
            <div style="width:100%; height:450px;">
                <div id="map-canvas" style="width: 100%; height: 100%"></div>
            </div>


        </div>
    </div>
    <script>
        NProgress.done(true);
    </script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>

</body>

</html>