<!DOCTYPE html>
<html>

<head>
    <title>DUBLIN BUS APP</title>
    <meta charset="UTF-8">
    <meta name="description" content="Real time dublin bus information">
    <meta name="keywords" content="Dublin bus, RTPI">
    <meta name="author" content="Lin Qi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}" />
    
    <!-- CSS styles -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nprogress.css') }}" />

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='js/nprogress.js') }}"></script>

</head>

<body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading"><img src="{{ url_for('static', filename='images/dublin_bus_black_and_white.png') }}" alt="dublin bus logo" width="120"></a>
                <ul>
                    <li><a href="{{ url_for('index') }}">Search by stop no.</a></li>
                    <li class="pure-menu-selected"><a href="">Search by route</a></li>
                    <li><a href="{{ url_for('map') }}">Search on map</a></li>
                    <li><a href="{{ url_for('faqs') }}">FAQs</a>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="header">
                <h1>Search by Route</h1>
                <h2>total requests so far: {{ totalrequests }}</h2>
            </div>
            <div class="content">
                <div class="search-form">
                    <form action='/routelist' method="post">
                    <input list='routes' name='routelist' placeholder="Enter your route" required = "required" class="enjoy-input" style="max-width: 450px;" autocomplete="off" autofocus>
                    <datalist id='routes'>
                        {% for route in routelist %}
                        <option value="{{route}}">
                        {% endfor %}
                    </datalist>
                    <button class="search-button pure-button" type="submit"><img src="" alt="" />Search</button>
                    </form>
                </div>
                <div class="bus">
                    <a href="http://qkirin.deviantart.com/art/A-Dublin-Bus-Gif-507115954" target="_blank"><img src="../static/images/bus.gif" alt="Dublin Bus" height="100px"></a>
                    {% if errorcode == 1 %}
                    <h3>Sorry, no data for bus route #{{ route }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <script>
        NProgress.set(0.5);
        NProgress.done(true);
    </script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
</body>

</html>