<!DOCTYPE html>
<html ng-app="busApp">

<head>
    <title>DUBLIN BUS APP</title>
    <meta charset="UTF-8">
    <meta name="description" content="Real time dublin bus information">
    <meta name="keywords" content="Dublin bus, RTPI">
    <meta name="author" content="Lin Qi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}" />

    <!-- CSS styles -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nprogress.css') }}" />

    <!-- AngularJS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
    <script>
        var busApp = angular.module('busApp', ['ngRoute']);
        // routes
        busApp.config(function ($routeProvider) {
            $routeProvider.
            when('/', {
                templateUrl: 'static/templates/route-list.html',
                controller: 'RouteListCtrl'
            }).
            when('/:route', {
                templateUrl: 'static/templates/route-detail.html',
                controller: 'RouteDetailCtrl'
            }).
            when('/:route/:direction', {
                templateUrl: 'static/templates/direction-detail.html',
                controller: 'DirectionDetailCtrl'
            }).
            otherwise({
                redirectTo: '/'
            });

        });

        busApp.factory('routes', function ($http) {
            var cachedData;

            function getData(callback) {
                if (cachedData) {
                    callback(cachedData);
                } else {
                    $http.get('static/json/routeinfo.json').success(function (data) {
                        cachedData = data;
                        callback(data);
                    });
                }
            }

            return {
                list: getData
            };
        });

        // controllers
        busApp.controller('RouteListCtrl', function ($scope, routes) {
            routes.list(function (routes) {
                $scope.routes = routes;
            });
        });

        busApp.controller('RouteDetailCtrl', function ($scope, $routeParams, $http) {
            $scope.route = $routeParams.route;
            $http.get('static/json/routeinfo.json').success(function (data) {
                $scope.routeinfo = data.filter(function (entry) {
                    return entry.route === $scope.route;
                })[0];
            });
        });

        busApp.controller('DirectionDetailCtrl', function ($scope, $routeParams, $http, $location) {
            $scope.route = $routeParams.route;
            $scope.direction = $routeParams.direction;
            $scope.go = function (stopid) {
                var searchstop = '/stop/' + stopid;
                window.location = searchstop;
            };
            $http.get('static/json/routeinfo.json').success(function (data) {
                $scope.routeinfo = data.filter(function (entry) {
                    return entry.route === $scope.route;
                })[0];
                $scope.directioninfo = $scope.routeinfo.info.filter(function (entry) {
                    return entry.direction === $scope.direction;
                })[0];
            });
        });

        busApp.filter('encodeURI', function () {
            return window.encodeURI;
        });
    </script>
    <!-- Javascript -->
    <script src="{{ url_for('static', filename='js/nprogress.js') }}"></script>
</head>

<body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading"><img src="{{ url_for('static', filename='images/dublin_bus_black_and_white.png') }}" alt="dublin bus logo" width="120">
                </a>
                <ul>
                    <li><a href="{{ url_for('index') }}">Search by stop no.</a>
                    </li>
                    <li class="pure-menu-selected"><a href="{{ url_for('routelist') }}">Search by route</a>
                    </li>
                    <li><a href="{{ url_for('map') }}">Search on map</a>
                    </li>
                    <li><a href="{{ url_for('faqs') }}">FAQs</a>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="header">
                <h1>Search by Route</h1>
                <h2>total requests so far: {{ totalrequests }}</h2>
            </div>
            <div class="content">
                <div ng-view></div>
            </div>
        </div>

    </div>
    <script>
        NProgress.set(0.5);
        NProgress.done(true);
    </script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
</body>

</html>