<!DOCTYPE html>
<html>

<head>
    <title>DUBLIN BUS APP</title>
    <meta charset="UTF-8">
    <meta name="description" content="Real time dublin bus information">
    <meta name="keywords" content="Dublin bus, RTPI">
    <meta name="author" content="Lin Qi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}" />
    
    <!-- CSS styles -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />


</head>

<body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading"><img src="{{ url_for('static', filename='images/dublin_bus_black_and_white.png') }}" alt="dublin bus logo" width="120"></a>
                <ul>
                    <li><a href="{{ url_for('index') }}">Search by <br>stop number</a></li>
                    <li class="pure-menu-selected"><a href="">Search by <br>route</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="header">
                <h1>Search by Route</h1>
                <h2>total requests so far: {{ totalrequests }}</h2>
            </div>
            <div class="content">
                <form action='/routelist' method="post">
                    <input list='routes' name='routelist' placeholder="Enter your route">
                    <datalist id='routes'>
                        {% for route in routelist %}
                        <option value="{{route}}">
                        {% endfor %}
                    </datalist>
                    <button class="pure-button" type="submit"><img src="" alt="" /> Submit</button>
                    
                </form>
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
</body>

</html>