<!DOCTYPE html>
<html>

<head>
    <title>DUBLIN BUS APP</title>
    <meta charset="UTF-8">
    <meta name="description" content="Real time dublin bus information">
    <meta name="keywords" content="Dublin bus, RTPI">
    <meta name="author" content="Lin Qi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}" />
    
    <!-- CSS styles -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />


</head>

<body>
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading"><img src="{{ url_for('static', filename='images/dublin_bus_black_and_white.png') }}" alt="dublin bus logo" width="120"></a>
                <ul>
                    <li class="pure-menu-selected"><a href="{{ url_for('index') }}">Search by <br>stop number</a></li>
                    <li><a href="{{ url_for('routelist') }}">Search by <br>route</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="header">
                <h1>Real Time Bus Information</h1>
                <h2>total requests so far: {{ totalrequests }}</h2>
            </div>
            <div class="content">
                <div class="rg-container">
                    {% if errorcode == 0 %}
                    <div class="rg-header">
                        <div class="rg-hed">Bus Stop #{{ stop }}</div>
                        <div class="rg-subhed">{{ stopAddress }}</div>
                    </div>

                    <div class="rg-content rg-table">
                        <table class="rg-table">
                            <thead>
                                <th class="text rg-th">Route</th>
                                <th class="text rg-th">Due</th>
                                <th class="text rg-th">From</th>
                                <th class="text rg-th">To</th>
                            </thead>
                            {% for result in results %}
                            <tbody>
                                <tr>
                                    <td class="text" data-title="Route">{{result.route}}</td>
                                    <td class="text" data-title="Due">{{result.duetime}}</td>
                                    <td class="text" data-title="From">{{result.origin}}</td>
                                    <td class="text" data-title="To">{{result.destination}}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="rg-source-and-credit">
                        <div class="rg-source">Last updated: {{ timestamp }} </div>
                        <div class="rg-credit"><span class="pre-colon">DATA</span>: <span class="post-colon"><a href="http://dublinked.com/datastore/datasets/dataset-300.php" target="_blank">Dublinked</a></span>
                        </div>
                    </div>
                    {% elif errorcode == 1 %}
                    <div class="bus">
                        <a href="http://qkirin.deviantart.com/art/A-Dublin-Bus-Gif-507115954" target="_blank"><img src="../static/images/bus.gif" alt="Dublin Bus" height="100px"></a>
                        <h3>Sorry, no data for Bus stop #{{ stop }}</h3>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
</body>

</html>