<html ng-app="routeApp">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
      var countryApp = angular.module('routeApp', []);
      countryApp.controller('RouteCtrl', function ($scope, $http){
        $http.get('routeinfo.json').success(function(data) {
          $scope.routes = data;
        });
      });
    </script>
  </head>
  <body ng-controller="RouteCtrl">
    <table>
      <tr>
        <th>Route</th>
      </tr>
      <tr ng-repeat="route in routes">
        <td>{{ route }}</td>
      </tr>
    </table>
  </body>
</html>